OIDC_ISSUER_URL=http://localhost:18080/realms/master
OIDC_CLIENT_ID=gea-bff
OIDC_CLIENT_SECRET=Dhs027jJBosinIMWRXFXaVtymCMItPs2
OIDC_REDIRECT_URL=http://localhost:3000/callback
API_BASE_URL=http://localhost:8080
API_STUB=false
SESSION_PASSWORD=12345678901234567890123456789012
